<div class="outer_container">
    <div class="big_container">
        <div class="top_bar">
            <span>Find Flights</span>
        </div> <!--  end top_bar -->
        <div class="transparent_bg">
            <div class="container">
                <div class="search_pane">
                    <div class="search_box">
                        <select>
                            <option value="" disabled selected>from</option>
                            <option value="nyc">New York</option>
                            <option value="london">London</option>
                            <option value="lax">Los Angeles</option>
                        </select>
                    </div> <!-- end search_box -->
                    <div class="search_box">
                        <select>
                            <option value="" disabled selected>to</option>
                            <option value="nyc">New York</option>
                            <option value="london">London</option>
                            <option value="lax">Los Angeles</option>
                        </select>
                    </div><!-- end search_box -->
                    <div class="search_box">
                        <button>Go</button>
                    </div><!-- end search_box -->
                </div> <!-- end search_pane -->
                <div class="flight_pane">
                    <div class="flight_headers">
                        <div class="flight_number cell"> Flight # </div>
                        <div class="departs cell"> Departs </div>
                        <div class="arrives cell"> Arrives </div>
                        <div class="nonstop cell"> Nonstop </div>
                    </div><!-- end flight_headers -->

                    <div *ngFor="let flight of flights" class="flight_results">
                        <div class="flight_number cell">{{ flight.flightNumber }}</div>
                        <div class="departs cell">{{ flight.depart | date : 'shortDate' }}</div>
                        <div class="arrives cell">{{ flight.arrive | date : 'shortDate' }}</div>
                        <div class="nonstop cell">{{ flight.nonstop }}</div>
                    </div><!-- end flight_results -->
                </div><!-- end flight_pane -->
            </div><!-- end container -->
        </div><!-- end transparent_bg -->
    </div><!-- end big_container -->
</div><!-- end outer_container -->

